
{{#section 'head'}}
	<!-- we want style <link rel="stylesheet" type="text/css" href=""> -->
    <link rel="stylesheet" type="text/css" href="stylesheets/swiper4.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/education.css">
{{/section}}


<article class="education">
    <!--banner-list-->
	<section class="banner-box">
		<div class="banner-list">
			<!-- Swiper -->
		  <div class="swiper-container swiper-banner">
		    <div class="swiper-wrapper">
		      <div class="swiper-slide"><img src="images/education/banner_01.png"></div>
		      <div class="swiper-slide"><img src="images/education/banner_02.png"></div>
		      <div class="swiper-slide"><img src="images/education/banner_03.png"></div>
		    </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
		    <!-- Add Arrows -->
		    <div class="swiper-button-next"></div>
		    <div class="swiper-button-prev"></div>
		  </div>
          <i class="arrow_icon" id="arrow_icon">&#187</i>
		</div>
	</section>

    <!--show-list-->
	<section class="show-box" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" aos-once="true">
		<div class="show-list">

			<figure class="show-cell">
				<figcaption class="show-img"><img src="images/education/show_01.png"></figcaption>
				<div class="show-info">
					<h5 class="show-name">合作院校</h5>
					<p class="show-number">800所</p>
				</div>
			</figure>

            <figure class="show-cell">
                <figcaption class="show-img"><img src="images/education/show_02.png"></figcaption>
                <div class="show-info">
                    <h5 class="show-name">就业老师</h5>
                    <p class="show-number">5000名</p>
                </div>
            </figure>

            <figure class="show-cell">
                <figcaption class="show-img"><img src="images/education/show_03.png"></figcaption>
                <div class="show-info">
                    <h5 class="show-name">培训基地</h5>
                    <p class="show-number">100万平方</p>
                </div>
            </figure>

		</div>
	</section>

    <!--培训+就业 About us-->
    <section class="about-box" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" aos-once="true">
		<div class="about-layer">
            <div class="title">
                <h3 class="title-b">
                    <strong class="title-b-zh">培训 + 就业</strong>
                    <small class="title-b-en">ABOUT US</small>
                </h3>
                <p class="title-s">打造教育行业新态势</p>
            </div>
            <div class="about-bd">
                <ul class="about-list about-up">
                    <li class="about-cell" data-aos="zoom-in" data-aos-offset="450" data-aos-easing="ease-in-sine" aos-once="true">
                        <p class="cell-tit">0经验培训</p>
                        <div class="about-info">只要你想当老师，其他的交给我们</div>
                    </li>
                    <li class="about-cell" data-aos="zoom-in" data-aos-offset="450" data-aos-easing="ease-in-sine" aos-once="true">
                        <p class="cell-tit">线下实战</p>
                        <div class="about-info">科学方法，绝学提炼，名师零距离，你也可以变得</div>
                    </li>
                    <li class="about-cell" data-aos="zoom-in" data-aos-offset="450" data-aos-easing="ease-in-sine" aos-once="true">
                        <p class="cell-tit">先就业后付款</p>
                        <div class="about-info">不用担心费用，就业后再分期付培训费，用未来投资你的现在</div>
                    </li>
                    <li class="about-cell" data-aos="zoom-in" data-aos-offset="450" data-aos-easing="ease-in-sine" aos-once="true">
                        <p class="cell-tit">行业认证资格证</p>
                        <div class="about-info">携手地方教育局，打造有竞争力的培训证书，一证在手，工作我有</div>
                    </li>
                </ul>
                <ul class="about-list about-down">
                    <li class="about-cell" data-aos="zoom-in" data-aos-offset="450" data-aos-easing="ease-in-sine" aos-once="true">
                        <p class="cell-tit">就业指导</p>
                        <div class="about-info">根据你的求职目标，个性化指导求职技巧，提前模拟面试，让你不再没底气</div>
                    </li>
                    <li class="about-cell" data-aos="zoom-in" data-aos-offset="450" data-aos-easing="ease-in-sine" aos-once="true"></li>
                    <li class="about-cell" data-aos="zoom-in" data-aos-offset="450" data-aos-easing="ease-in-sine" aos-once="true">
                        <p class="cell-tit">岗位内推</p>
                        <div class="about-info">一地多校，直接推荐，精准匹配</div>
                    </li>
                </ul>
            </div>
        </div>
	</section>

    <!--精品课堂 COURSE-->
    <section class="course-box" data-aos="fade-up" data-aos-offset="400" data-aos-easing="ease-in-sine" aos-once="true">
        <div class="course-layer">
            <div class="title">
                <h3 class="title-b">
                    <strong class="title-b-zh">精品课堂</strong>
                    <small class="title-b-en">COURSE</small>
                </h3>
                <p class="title-s">衔接用人单位的需求，设置教育全方面的课程<br />覆盖各学段、各学科教师</p>
            </div>
            <div class="course-bd">
                <dl class="cou-dl">
                    <dt class="cou-dt"><img src="images/education/icon_01.png"></dt>
                    <dd class="cou-dd">幼儿教师<br />实训就业营</dd>
                </dl>
                <dl class="cou-dl">
                    <dt class="cou-dt"><img src="images/education/icon_02.png"></dt>
                    <dd class="cou-dd">小学教师<br />实训就业营</dd>
                </dl>
                <dl class="cou-dl">
                    <dt class="cou-dt"><img src="images/education/icon_03.png"></dt>
                    <dd class="cou-dd">初中教师<br />实训就业营</dd>
                </dl>
                <dl class="cou-dl">
                    <dt class="cou-dt"><img src="images/education/icon_04.png"></dt>
                    <dd class="cou-dd">高中教师<br />实训就业营</dd>
                </dl>

                <dl class="cou-dl">
                    <dd class="cou-dd">教师<br />培训定制营</dd>
                    <dt class="cou-dt"><img src="images/education/icon_05.png"></dt>
                </dl>
                <dl class="cou-dl">
                    <dd class="cou-dd">教师<br />进阶提升营</dd>
                    <dt class="cou-dt"><img src="images/education/icon_06.png"></dt>
                </dl>
                <dl class="cou-dl">
                    <dd class="cou-dd">教师<br />交流研讨会</dd>
                    <dt class="cou-dt"><img src="images/education/icon_07.png"></dt>
                </dl>
            </div>
        </div>
        <div class="bg"></div>
	</section>

    <!--师资团队 TEACHERS-->
	<section class="teacher-box" data-aos="fade-up" data-aos-offset="500" data-aos-easing="ease-in-sine" aos-once="true">
        <div class="teacher-layer">
            <div class="title">
                <h3 class="title-b">
                    <strong class="title-b-zh">师资团队</strong>
                    <small class="title-b-en">TEACHERS</small>
                </h3>
                <p class="title-s">豪华级教师团队坐镇</p>
            </div>
            <div class="teacher-bd">
                <div class="swiper-container swiper-teacher">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">Slide 1</div>
                        <div class="swiper-slide">Slide 2</div>
                        <div class="swiper-slide">Slide 3</div>
                        <div class="swiper-slide">Slide 4</div>
                        <div class="swiper-slide">Slide 5</div>
                        <div class="swiper-slide">Slide 6</div>
                        <div class="swiper-slide">Slide 7</div>
                        <div class="swiper-slide">Slide 8</div>
                        <div class="swiper-slide">Slide 9</div>
                        <div class="swiper-slide">Slide 10</div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
	</section>

    <!--就业学员 EMPLOYMENT  SADETS-->
    <section class="student-box" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" aos-once="true">
        <div class="student-layer">
            <div class="title">
                <h3 class="title-b">
                    <strong class="title-b-zh">就业学员</strong>
                    <small class="title-b-en">EMPLOYMENT  SADETS</small>
                </h3>
                <p class="title-s">为你插上教师梦想的翅膀</p>
            </div>
            <div class="stu-bd">
                {{#each studentList}}
                <ul class="stu-list" data-index="{{@index}}" data-key="{{@key}}">
                    {{#each students}}
                        <li class="stu-cell">
                            <p class="stu-img"><img src="{{this.bigsrc}}"></p>
                            <div class="stu-info">
                                <div class="stu-s-img"><img src="{{this.smallsrc}}"></div>
                                <div class="stu-intro">
                                    <strong class="stu-name">{{this.name}}</strong>
                                    <span class="stu-area">{{this.area}}</span>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
                {{/each}}
            </div>
        </div>
	</section>

    <!--合作院校 COOPERATIVE  -->
    <section class="school-box" data-aos="fade-up" data-aos-offset="400" data-aos-easing="ease-in-sine" aos-once="true">
        <div class="school-layer">
            <div class="title">
                <h3 class="title-b">
                    <strong class="title-b-zh">合作院校</strong>
                    <small class="title-b-en">COOPERATIVE</small>
                </h3>
                <p class="title-s">独立服务于北京、深圳、重庆、广州等城市近800所公立学校</p>
            </div>
            <div class="sch-bd">
                <ul class="sch-list">
                    {{#each schoolList}}
                        <li class="sch-cell"><img src="{{this.src}}" alt="{{this.alt}}" title="{{this.title}}" /></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="bg"></div>
    </section>

    <!--联系我们 CONTACT US  -->
    <section class="contact-box" data-aos="fade-up" data-aos-offset="400" data-aos-easing="ease-in-sine" aos-once="true">
        <div class="contact-layer">
            <div class="title">
                <h3 class="title-b">
                    <strong class="title-b-zh">联系我们</strong>
                    <small class="title-b-en">CONTACT US</small>
                </h3>
                <p class="title-s"></p>
            </div>
            <div class="contact-bd">
                <dl class="cont-address">
                    <dt class="cont-dt">
                        <h5 class="cd-company">深圳有方国际教育有限公司</h5>
                        <small class="cd-company-en">Uffer Limited company</small>
                    </dt>
                    <dd class="cont-dd">电话：0755-33086358 </dd>
                    <dd class="cont-dd">地址：深圳市南山区TCL科学园国际E城D3栋B、C单元7楼 </dd>
                    <dd class="cont-dd">邮箱：13560311642@126.com  </dd>
                    <dd class="cont-dd">
                        <i class="dd-img"><img src="images/weChat_Qr_code.png" /></i>
                        <i class="dd-img"><img src="images/weChat_icon.png" /></i>
                    </dd>
                </dl>
                <dl class="cont-map">
                    <dt id="allmap"></dt>
                </dl>
            </div>
        </div>
        <div class="bg"></div>
    </section>

	{{#if showTitle}}
    <section>Ping 666</section>
    <!-- Calls `foo` helper, overridden at render-level. -->
    <p>{{foo}}</p>

    <p>{{year}}{{article}}</p>
    <!-- Calls `bar` helper, defined at instance-level. -->
    <p>{{bar}}</p>
    <p>123</p>
	{{/if}}


</article>

{{#section 'jquery'}}
    <!-- we want js -->
    <script type="text/javascript" src="javascripts/swiper4.min.js"></script>
    <script type="text/javascript" src="javascripts/aos.js"></script>
    <script type="text/javascript" src="javascripts/mapInit.js"></script>
    <script type="text/javascript" src="javascripts/education.js"></script>
{{/section}}

